@import "tailwindcss";

@layer utilities {
  .phone4x6 {
    @apply h-[100px] w-[167px] bg-red-500;
  }
}

/* Scrollbar */
::-webkit-scrollbar{
  width: 50px;
  height: 7px;
}
/* Track (background area) */
::-webkit-scrollbar-track {
  background: rgb(70,70,70);
}
/* Draggable thumb */
::-webkit-scrollbar-thumb {
  background: rgb(120,120,120);
  border-radius: 8px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100,100,100);
}

body{
  background-color: rgb(30,30,30);
}

.navbarStyle{
  @apply h-[35px] py-1 px-3 flex items-center text-[rgb(234,231,230)] bg-gradient-to-t from-[rgb(77,77,77)] to-[rgb(85,85,85)]
}

.tabsContainer{
  @apply bg-gradient-to-t from-[rgb(35,35,35)] via-[rgb(50,50,50)] via-90% to-[rgb(90,90,90)] border-t-2 border-[rgb(25,25,25)]
}

.tabsStyle{
  @apply bg-gradient-to-t from-[rgb(50,50,50)] via-[rgb(90,90,90)] via-90% to-[rgb(255,255,255)]
}

.gradientBtn{
  @apply hover:bg-gradient-to-b hover:from-[rgb(150,150,150)] to-[rgb(80,80,80)] border border-[rgb(80,80,80)] hover:border-[rgb(60,60,70)] duration-200
}


/* ------------------------------------------------- */
/* Frame Sizes */
/* ------------------------------------------------- */
/* A4 */
.frameSizeA4{
  @apply max-sm:w-[380px] max-sm:h-[537px] h-[608px] w-[430px]
};

.phoneA4{
  @apply w-[300px] h-[424px]
};

/* ------------------------------------------------- */
/* 6x8: */
.frameSize6x8{
  @apply max-sm:h-[494px] max-sm:w-[370px] h-[600px] w-[450px]
}


/* ------------------------------------------------- */
/* 4x6 */
.frameSize4x6{
  @apply max-sm:h-[577px] max-sm:w-[385px] h-[576px] w-[384px];
}


/* ------------------------------------------------- */
/* border Sizes */
/* ------------------------------------------------- */
/* 4x6 */
.noBorder4x6{
  @apply p-0
}

.halfCm4x6{
  @apply p-[18.9px]
}

.oneCm4x6{
  @apply p-[37.8px]
}

.halfInch4x6{
  @apply p-[48px]
}

.oneInch4x6{
  @apply p-[96px]
}
/* ------------------------------------------------- */
/* Grid Sizes */
/* ------------------------------------------------- */
/* 4x6 */
.noGrid4x6{
  display: none;
}

.grid4x6{
  display: grid;
  grid-template-columns: 96px 96px 96px 96px;
  grid-template-rows: 96px 96px 96px 96px 96px 96px;
  border: solid;
  border-width: 1px;
}

.grid6x8{
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px;
  grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px;
  border: solid;
  border-width: 1px;
}