@import "tailwindcss";

@layer utilities {
  .phone4x6 {
    @apply h-[100px] w-[167px] bg-red-500;
  }
}

:root {
  /* 4x6 */
  --oneInch4x6: 96px;
  --twoInch4x6: 192px;
  --threeInch4x6: 288px;
  --fourInch4x6: 384px;
  --regOnegrid6x8: 75px;
  
  /* 6x8 */
  --regTwogrid6x8: 150px;
  --regThreegrid6x8: 225px;
  --regFourgrid6x8: 300px;
  --phnOnegrid6x8: 64px;
  --phnTwogrid6x8: 128px;
  --phnThreegrid6x8: 192px;
  --phnFourgrid6x8: 256px;
  
  /* A4 */
  --regOnegridA4: 51.6px;
  --regTwogridA4: 103.2px;
  --regThreegridA4: 154.8px;
  --regFourgridA4: 206.4px;
  --phnOnegridA4: 46px;
  --phnTwogridA4: 92px;
  --phnThreegridA4: 138px;
  --phnFourgridA4: 184px;
}

/* Scrollbar */
::-webkit-scrollbar{
  width: 50px;
  height: 7px;
}
/* Track (background area) */
::-webkit-scrollbar-track {
  background: rgb(70,70,70);
}
/* Draggable thumb */
::-webkit-scrollbar-thumb {
  background: rgb(120,120,120);
  border-radius: 8px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100,100,100);
}

body{
  background-color: rgb(30,30,30);
}

.navbarStyle{
  @apply h-[35px] py-1 px-3 flex items-center text-[rgb(234,231,230)] bg-gradient-to-t from-[rgb(77,77,77)] to-[rgb(85,85,85)]
}

.tabsContainer{
  @apply bg-gradient-to-t from-[rgb(35,35,35)] via-[rgb(50,50,50)] via-90% to-[rgb(90,90,90)] border-t-2 border-[rgb(25,25,25)]
}

.tabsStyle{
  @apply bg-gradient-to-t from-[rgb(50,50,50)] via-[rgb(90,90,90)] via-90% to-[rgb(255,255,255)]
}

.gradientBtn{
  @apply hover:bg-gradient-to-b hover:from-[rgb(150,150,150)] to-[rgb(80,80,80)] border border-[rgb(80,80,80)] hover:border-[rgb(60,60,70)] duration-200
}


/* ------------------------------------------------- */
/* Frame Sizes */
/* ------------------------------------------------- */
/* A4 */
.frameSizeA4portrait{
  @apply max-sm:w-[381px] max-sm:h-[538.2px] h-[603.71px] w-[426.73px]
};

.frameSizeA4landscape{
  @apply max-sm:h-[381px] max-sm:w-[538.2px] w-[603.71px] h-[426.73px]
};

/* ------------------------------------------------- */
/* 6x8: */
.frameSize6x8portrait{
  @apply max-sm:h-[512px] max-sm:w-[384px] h-[600px] w-[450px]
}

.frameSize6x8landscape{
  @apply max-sm:w-[512px] max-sm:h-[384px] w-[600px] h-[450px]
}


/* ------------------------------------------------- */
/* 4x6 */
.frameSize4x6portrait{
  @apply h-[576px] w-[384px];
}

.frameSize4x6landscape{
  @apply w-[576px] h-[384px];
}


/* ------------------------------------------------- */
/* border Sizes */
/* ------------------------------------------------- */
/* 4x6 */
.noBorder4x6{
  @apply p-0
}

.halfCm4x6{
  @apply p-[18.9px]
}

.oneCm4x6{
  @apply p-[37.8px]
}

.halfInch4x6{
  @apply p-[48px]
}

.oneInch4x6{
  @apply p-[96px]
}

/* 6x8 */
.noBorder6x8{
  @apply p-0
}

.halfCm6x8{
  @apply max-sm:p-[12.6px] p-[14.77px]
}

.oneCm6x8{
  @apply max-sm:p-[25.2px] p-[29.53px]
}

.halfInch6x8{
  @apply max-sm:p-[32px] p-[37.5px]
}

.oneInch6x8{
  @apply max-sm:p-[64px] p-[75px]
}

/* A4 */
.noBorderA4{
  @apply p-0
}

.halfCmA4{
  @apply p-[10.15px]
}

.oneCmA4{
  @apply p-[20.3px]
}

.halfInchA4{
  @apply p-[25.8px]
}

.oneInchA4{
  @apply p-[51.6px]
}

/* ------------------------------------------------- */
/* Grid Sizes */
/* ------------------------------------------------- */
/* 4x6 */
.gridoneInchGrid4x6portrait{
  display: grid;
  grid-template-columns: repeat(4, var(--oneInch4x6));
  grid-template-rows: repeat(6, var(--oneInch4x6));
}

.gridtwoInchGrid4x6portrait{
  display: grid;
  grid-template-columns: repeat(2, var(--twoInch4x6));
  grid-template-rows: repeat(3, var(--twoInch4x6));
}

.gridthreeInchGrid4x6portrait{
  display: grid;
  grid-template-columns: 288px 96px;
  grid-template-rows: repeat(2, var(--threeInch4x6));
}

.gridfourInchGrid4x6portrait .gridfourInchGrid4x6landscape{
  display: grid;
  grid-template-columns: 384px;
  grid-template-rows: 384px;
}

.gridoneInchGrid4x6landscape{
  display: grid;
  grid-template-columns: repeat(6, var(--oneInch4x6));
  grid-template-rows: repeat(4, var(--oneInch4x6));
}

.gridtwoInchGrid4x6landscape{
  display: grid;
  grid-template-columns: repeat(2, var(--twoInch4x6));
  grid-template-rows: repeat(3, var(--twoInch4x6));
}

.gridthreeInchGrid4x6landscape{
  display: grid;
  grid-template-columns: repeat(2, var(--threeInch4x6));
  grid-template-rows: 288px 96px;
}


/* 6x8 */
.gridoneInchGrid6x8{
  display: grid;
  grid-template-columns: repeat(6, var(--regOnegrid6x8));
  grid-template-rows: repeat(8, var(--regOnegrid6x8));
}

.gridtwoInchGrid6x8{
  display: grid;
  grid-template-columns: repeat(3, var(--regTwogrid6x8));
  grid-template-rows: repeat(4, var(--regTwogrid6x8));
}

.gridthreeInchGrid6x8{
  display: grid;
  grid-template-columns: repeat(2, var(--regThreegrid6x8)) ;
  grid-template-rows: var(--regThreegrid6x8) var(--regThreegrid6x8) 150px;
}

.gridfourInchGrid6x8{
  display: grid;
  grid-template-columns: var(--regFourgrid6x8) var(--regTwogrid6x8);
  grid-template-rows: repeat(2, var(--regFourgrid6x8))
}

/* A4 */

.gridoneInchGridA4{
  display: grid;
  grid-template-columns: repeat(8, var(--regOnegridA4)) 13.93px;
  grid-template-rows: repeat(11, var(--regOnegridA4)) 36.11px;
}

.gridtwoInchGridA4{
  display: grid;
  grid-template-columns: repeat(4, var(--regTwogridA4)) 13.93px;
  grid-template-rows: repeat(6, var(--regTwogridA4));
}

.gridthreeInchGridA4{
  display: grid;
  grid-template-columns: repeat(2, var(--regThreegridA4)) 1fr;
  grid-template-rows: repeat(3, var(--regThreegridA4)) 1fr;
}

.gridfourInchGridA4{
  display: grid;
  grid-template-columns: repeat(2, var(--regFourgridA4)) 13.93px;
  grid-template-rows: repeat(2, var(--regFourgridA4)) 1fr;
}

@media (max-width: 412px) {
    .gridoneInchGrid6x8{
      display: grid;
      grid-template-columns: repeat(6, var(--phnOnegrid6x8));
      grid-template-rows: repeat(8, var(--phnOnegrid6x8));
    }

    .gridtwoInchGrid6x8{
      display: grid;
      grid-template-columns: repeat(3, var(--phnTwogrid6x8));
      grid-template-rows: repeat(4, var(--phnTwogrid6x8));
    }

    .gridthreeInchGrid6x8{
      display: grid;
      grid-template-columns: repeat(2, var(--phnThreegrid6x8)) ;
      grid-template-rows: var(--phnThreegrid6x8) var(--phnThreegrid6x8) 128px;
    }

    .gridfourInchGrid6x8{
      display: grid;
      grid-template-columns: var(--phnFourgrid6x8) var(--phnTwogrid6x8);
      grid-template-rows: repeat(2, var(--phnFourgrid6x8))
    }

    /* 6x8 */
    .gridoneInchGridA4{
      display: grid;
      grid-template-columns: repeat(8, var(--phnOnegridA4)) 13px;
      grid-template-rows: repeat(11, var(--phnOnegridA4)) 32.2px;
    }

    .gridtwoInchGridA4{
      display: grid;
      grid-template-columns: repeat(4, var(--phnTwogridA4)) 93px;
      grid-template-rows: repeat(6, var(--phnTwogridA4));
    }

    .gridthreeInchGridA4{
      display: grid;
      grid-template-columns: repeat(3, var(--phnThreegridA4));
      grid-template-rows: repeat(4, var(--phnThreegridA4));
    }

    .gridfourInchGridA4{
      display: grid;
      grid-template-columns: repeat(2, var(--phnFourgridA4)) 13px;
      grid-template-rows: repeat(3, var(--phnFourgridA4));
    }
}